<div class="single-column container center">
   <h2>Your contact information</h2>
   <form name="contactForm" class="contact-form" ng-class="{'show-validation' : showValidation}">
      <input ng-model="package.firstName" type="text" name="firstName" value="" class="input" placeholder="First Name" required>
      <input ng-model="package.lastName" type="text" name="lastName" value="" class="input" placeholder="Last Name" required>
      <input ng-model="package.email"type="email" name="email" value="" class="input" placeholder="Email" required>
      <input ng-model="package.phone"type="text" name="phoneNumber" value="" class="input" placeholder="Phone" required>
      <p>
         How would you like to be contacted?
      </p>
      <div class="custom-choice">
         <div class="radio-choice">
            <div class="">
               <label>
                  <input ng-model="package.contactMethod" type="radio" name="contactMethod" value="email"></input>
                  <div></div>
               </label>
               <p>
                  email
               </p>
            </div>
            <div class="between-radio">
               or
            </div>
            <div class="">
               <label>
                  <input ng-model="package.contactMethod" type="radio" name="contactMethod" value="phone"></input>
                  <div></div>
               </label>
               <p>
                  phone
               </p>
            </div>
         </div>
      </div>
      <p>
         Enter your prefered date of arrival:
      </p>
      <input ng-model="package.date" type="date" name="date" value="" class="input" placeholder="yyyy/mm/dd">
      <p>
         Do you have any questions or comments?
      </p>
      <textarea ng-model="package.comments "name="comments" rows="8" cols="40" class="input"></textarea>
   </form>
   <button type="button" name="button" ng-click="submission(contactForm)">submit</button>
</div>
