<div class="center custom-parent">
   <h2>Select your trip preferences</h2>
   <hr>
   <section>
      <div class="center">
         <h2>Professional Guide</h2>
         <div class="">
            <div class="radio-choice">
               <div class="">
                  <label>
                     <input ng-model="package.guided" type="radio" name="guided" value="guided"></input>
                     <div></div>
                  </label>
                  <p>
                     guided
                  </p>
               </div>
               <div class="">
                  <label>
                     <input ng-model="package.guided" type="radio" name="guided" value="self-guided"></input>
                     <div></div>
                  </label>
                  <p>
                     self-guided
                  </p>
               </div>
            </div>
            <div class="">
               You have the option to be guided by one of our backcountry certified experts.
            </div>
         </div>
      </div>
   </section>
   <section>
      <div class="center">
         <h2>Meals</h2>
         <form class="">
            <div class="radio-choice">
               <div class="">
                  <label>
                     <input ng-model="package.food" type="radio" name="catered" value="catered"></input>
                     <div></div>
                  </label>
                  <p>
                     catered
                  </p>
               </div>
               <div class="">
                  <label>
                     <input ng-model="package.food" type="radio" name="catered" value="self-catered"></input>
                     <div></div>
                  </label>
               <p>
                  self-catered
               </p>
               </div>
            </div>
         </form>
      </div>
   </section>
   <section>
      <div class="center">
         <h2>number of nights</h2>
         <p>
            Minimum 3 nights stay
         </p>
         <form class="" oninput="amount.value=rangeInput.value">
            <input ng-model="package.nights" type="range" id="rangeInput" name="stay" value="3" min="3" max="10">
            <!-- This label will need to reflect the range's current position -->
            <label for="stay"><output name="amount" for="stay">3</output></label>
         </form>
      </div>
   </section>
   <section>
      <div class="center">
         <h2>number of guests</h2>
         <p>
            Groups smaller than 7 could share the lodge facilities with other guests
         </p>
         <form class="" oninput="amount.value=rangeInput.value">
            <input ng-model="package.guests" type="range" id="rangeInput" name="guests" value="1" min="1" max="9">
            <!-- This label will need to reflect the range's current position -->
            <label for="guests"><output name="amount" for="guests">1</output></label>
         </form>
      </div>
   </section>
   <!-- This section needs to be generated dynamically based on the choices made by the users -->
   <section>
      <div class="price-estimate">
         <div class="">
            Estimated price per person:
         </div>
         <div class="">
            {{priceGen()/package.guests|currency:"$":0}}
         </div>
      </div>
   </section>
   <!-- This section needs to be generated dynamically based on the choices made by the users -->
   <section>
      <div class="customize-list container">
            <h4>This package includes:</h4>
            <ul>
               <li>Pre-trip info</li>
               <li>Welcome at Valemont</li>
               <li>Round trip helicopter transportation</li>
               <li>Accommodation at Mallard Lodge</li>
               <li ng-show="package.guided==='guided'">A backcountry-ceritified guide for your trip</li>
               <li ng-show="package.food==='catered'">3 meals a day, cooked to your dietary preference</li>
            </ul>
      </div>
      <hr>
      <div class="customize-list container">
         <h4>This package doesn't include:</h4>
         <ul>
            <li>Travel to/from staging area in Valemont, BC</li>
            <li ng-show="package.guided==='self-guided'">A backcountry-ceritified guide for your trip</li>
            <li ng-show="package.food==='self-catered'">Food for your stay</li>
            <li>Alcoholic beverages</li>
            <li>Personal expenses</li>
            <li>Taxes and gratuities</li>
            <li>Summer hiking and camping gear (available for rental)</li>
         </ul>
      </div>
   </section>
   <section>
      <hr>
      <div class="">
         <button type="button" name="button" ui-sref="state3" class="request-btn">request to book</button>
         <button type="button" name="button" class="home-btn">back to packages</button>
      </div>
   </section>
</div>
