/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/*Site-Content*/

.page:not(.home) {
	.site-content {
		padding-top: 90px;
		@include desktop {
			padding-top: 138px;
		}
	}
}

.home {
	.site-content {
		padding-top: 90px;
		@include desktop {
			padding-top: 0;
		}
	}
}

//Site constants
.center-flex,
.banner {
	display: flex;
	align-items: center;
	justify-content: center;
}

.side-banner {
	display: flex;
	align-items: center;
}

.banner-text {
	font-size: 3.25rem;
	line-height: 3.5rem;
	text-align: center;
	font-family: $font__heading;
	text-transform: uppercase;
	color: white;

	@include desktop {
		font-size: 5.625rem;
		line-height: 5.25rem;
	};
}

.small-banner-text {
	font-size: 2.25rem;
	line-height: 2.5rem;
	text-align: center;
	font-family: $font__heading;
	text-transform: uppercase;
	color: white;

	@include desktop {
		font-size: 4rem;
		line-height: 3.5rem;
	}
}

.banner-side-text {
	font-size: 2.25rem;
	line-height: 2.5rem;
	text-align: left;
	width: 50%;
	margin-left: 10%;
	font-family: $font__heading;
	text-transform: uppercase;
	color: white;

	@include desktop {
		font-size: 5.625rem;
		line-height: 5.25rem;
	}
}

.column-flex {
	flex-direction: column;
	margin-bottom: 3rem;
}

.single-column {
	width: 100%;
	padding-bottom: 3rem;

	@include desktop {
		width: 75%;
	}
}
.single-column-2 {
	width: 100%;
	padding-bottom: 3rem;

	@include desktop {
		width: 60%;
	}
}
.single-column p {
	margin-left: 10%;
	margin-right: 10%;
	@include desktop {
		margin-left: 0;
		margin-right: 0;
	}
}

.triple-column {
	display: block;
	width: 100%;
	padding-bottom: 3rem;

	@include desktop {
		width: 83%;
		display: flex;
		justify-content: space-between;
	}
}

.container {
	margin: 0 auto;
}

.title {
	text-align: center;
	width: 75%;
}

.icon {
	width: 50%;
}
.center {
	text-align: center;

	p {
		margin-left: 10%;
		margin-right: 10%;
	}
}

.icons-single-column {
	background-color: $color__light-grey;
	width: 90%;
	text-align: center;

	@include desktop {
		width: 30%;
	}

	ul {
		list-style: none;
		text-align: left;
	}

	p {
		margin-left: 10%;
		margin-right: 10%;
	}
}

.list-double-column {
	display: block;
	width: 100%;

	@include desktop {
		width: 50%;
		display: flex;
		justify-content: space-between;
	}

	ul {
		text-align: left;
		margin-left: 20%;
		margin-right: 20%;

		@include desktop {
			margin-left: 0;
			margin-right: 0;

		}
	}

	.button {
		width: 20rem;
		margin-left: 0.5rem;
	}
}

.submission {
	padding: 3rem;
}

.buttons-double-column {
	display: block;
	width: 100%;

	@include desktop {
		width: 70%;
		display: flex;
		justify-content: center;
	}

	ul {
		text-align: left;
		margin-left: 20%;
		margin-right: 20%;

		@include desktop {
			margin-left: 0;
			margin-right: 0;

		}
	}
	.space {
		width: 50%;
		text-align: center;
		justify-content: center;
		margin: 0 2.5rem;
	}
}
.dl-btn {
	display: inline-block;
	width: 85%;
	@include desktop {
		width: 375px;
	}
}
.site-404 {
	padding-top: 90px;

	@include desktop {
		padding-top: 138px;
	}
}

.spacing {
	margin-top:5rem;
}

.wide-text {
	letter-spacing: 2.25px;
}
