/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


//Site constants
.banner {
	display: flex;
	align-items: center;
	justify-content: center;
}
.banner-text {
	font-size: 3.25rem;
	text-align: center;
	font-family: $font__heading;
	text-transform: uppercase;
	color: white;

	@include desktop {
		font-size: 5.625rem;
	};
}
.column-what {
	flex-direction: column;
	margin-bottom: 3rem;
}
.single-column {
	width: 100%;

	@include desktop {
		width: 55%;
	}
}
.triple-column {
	display: block;
	width: 100%;

	@include desktop {
		width: 83%;
		display: flex;
		justify-content: space-between;
	}
}
.container {
	margin: 0 auto;
}
