/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  background: $color__dark-grey;
  display: block;
  text-align: center;
  h2 {
    color: $color__white;
  }
}

.contact-info {
  padding-bottom: 3rem;
  line-height: 2;
  a {
    display: block;
    text-decoration: none;
    color: $color__white;
    &:hover {
      color: $color__link;
    }
  }
}


.social-icons {
  padding-bottom: 4rem;
  @include font-size(2);
  .fa-border {
    border-radius: 50%;
    border: solid 0.1rem $color__white;
    width: 46px;
    &:hover {
      border: solid 0.1rem $color__blue;
    }
  }

  a {
    color: $color__white;
    text-decoration: none;
    padding: .5rem;
    text-align: center;
    &:hover {
      color: $color__blue;
    }
  }

  @include desktop {
    @include font-size(5);
    .fa-border {
      width: 116px;
    }
  }
}
