.front-hero {
	background: url(../../assets/images/pictures/01_mountainsarecalling-hero.jpg) center top no-repeat #ffffff;
	@include banner;
}

.summer-hero {
	background: url(../../assets/images/pictures/02_summerandwinterpackages-lowres.jpg) center top no-repeat #ffffff;
	@include banner;
}
.front-single-column {
	height: 741px;
	width: 90%;
	text-align: center;
	@include desktop {
		width: 30%;
	};
}
.center {
	text-align: center;
}
.icon {
	width: 67%;
}
.picture-wrapper {
	height:455px;
	overflow: hidden;
	position: relative;
}
.zoomed-in-1 {
	max-width: 900px;
	position: absolute;
	left:50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.zoomed-in-2 {
	min-width: 800px;
	position: absolute;
	left:50%;
	top: 50%;
	transform: translate(-30%, -50%);
}
