//Header
#masthead {
	display: flex;
	justify-content: space-between;
	background-color: white;
	width: 100vw;
	@include desktop {
		position: fixed;
		z-index: 100;
	}
}

.logo {
	width: 84px;
	height: 65px;
	margin: 1rem;
	margin-bottom: 0.25rem;
	@include desktop {
		width: 150px;
		height: 110px;
	}
}

.menu-button {
	margin: 2rem;
	font-size: 1.5rem;
	@include desktop {
		display: none;
	}
}

.main-navigation {
	display: none;
	@include desktop {
		padding-top:1.25rem;
		display: flex;
		width: 80%;
		font-size: 1rem;
		justify-content: flex-end;
		margin-right: 0.5rem;
	}

	a {
		color: $color__dark-grey;
		&:hover {
			color: $color__link-hover;
		}
	}
	li:last-child {
		border: none;
		border-radius: 3px;
		background: $color__blue;
		color: $color__white;
		text-transform: uppercase;
		text-align: center;
		font-size: 1rem;
		line-height: 0;
		padding: 0.75rem 0.5rem;
		height: 3rem;
		a {
			color: $color__white;
		}


		&:hover {
			filter: brightness(0.6);
		}
	}
}

.mobile-navigation {
	display: none;
	position: fixed;
}

.mobile-menu {
	position: relative;
	background: $color__dark-grey;
	color: $color__white;
	width: 100vw;
	height: 100vh;
	z-index: 0;
	top: 0;
	left: 0;
	#secondary-menu li {
		border: 1px solid $color__light-grey;
		text-align: right;
		float: none;
	}
	a {
		color: $color__white;
	}
}

.menu {
	li a {
		padding: 0.75rem;
	}
}
