//Header
#masthead {
	display: flex;
	justify-content: space-between;
	background-color: white;
	width: 100vw;
	@include desktop {
		// position: fixed;
	}

}
.logo {
	width: 84px;
	height: 65px;
	margin: 1rem;
	@include desktop {
		width: 170px;
		height: 130px;
	}
}
.menu-button {
	margin: 2rem;
	font-size: 1.5rem;
	@include desktop {
		display: none;
	}
}
.main-navigation {
	display: none;
	@include desktop {
		padding-top:1rem;
		display: flex;
		width: 80%;
	}

	a {
		color: $color__dark-grey;
		&:hover {
			color: $color__link-hover;
		}
	}
}

.mobile-navigation {
	display: none;
	.request_to_book {
		width: 100%;
	}
}

.mobile-menu {
	position: relative;
	background: $color__dark-grey;
	color: $color__white;
	width: 100vw;
	height: 100vh;
	z-index: 0;
	top: 0;
	left: 0;
	.menu-item {
		border: 1px solid $color__light-grey;
		text-align: right;
		float: none;
	}
	a {
		color: $color__white;
	}
}
.menu {
	li a {
		padding: 1rem;
	}
}
.request_to_book {
	padding: 1.25rem;
	height: 3.75rem;
}
