/*--------------------------------------------------------------
# Lodge
--------------------------------------------------------------*/

.lodge-hero {
  background: linear-gradient( to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 100%), url(../../assets/images/pictures/the-lodge/the-lodge.jpeg) center top no-repeat;
  @include sub-banner;
}

.lodge {
  h1 {
    text-align: center;
  }
}
/*bx slider */

.bxslider {
  display: flex;
  margin-left: 0.4em;
  overflow: hidden;
  height: 300px;
  position: relative;
  @include desktop {
    height: 100vh;
  }

  img {
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 100%;
    @include desktop {
      top: -25%;
    }
  }
}

.bx-wrapper {
  margin-bottom: .5rem !important;
}

#bx-pager {
  overflow: hidden;
  width: 100vw;
  display: flex;
  @include desktop {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  img {
    height: 50px;
    @include desktop {
      width: 30vw;
      height: 30vh;
      margin: .5rem;
    }
  }
}

.bx-viewport {
  border: none !important;
  box-shadow: none !important;
  background: $color__background-body !important;
  // height:  !important;
}

.lodge-gallery {
  padding-bottom: 3rem;
}

.lodge-amenities {
  width: 60%;
  h2 {
    text-align: center;
  }
  span {
    font-weight: bold;
    margin-right: 10%;
    display: block;
    @include desktop {
      margin: 0;
      min-width: 100px;
    }
  }
  p {
    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }
}

.sustain-hero {
  background: linear-gradient( to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 100%), url(../../assets/images/pictures/the-lodge/sustainability.png) center no-repeat;
  @include sub-banner;
}

.enviro-hero {
  background: linear-gradient( to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 100%), url(../../assets/images/pictures/the-lodge/sustainability.png) center no-repeat;
  @include sub-banner;
}
