/*--------------------------------------------------------------
# Lodge
--------------------------------------------------------------*/

.lodge-hero {
  background: url(../../assets/images/pictures/the-lodge/the-lodge.jpeg) center top no-repeat;
  @include banner;
}

.lodge {
  h1 {
    text-align: center;
  }
}
/*bx slider */

.bxslider {
  display: flex;
  margin-left: 0.4em;
  img {
    display: block;
    margin: 0 auto;
    height: 300px;
    // width: 300px;
    @include desktop {
      height: 550px;
      // width: 720px;
    }
  }
}

.bx-wrapper {
  margin-bottom: .5rem !important;
}

#bx-pager {
  display: flex;
  @include desktop {
    flex-wrap: wrap;
    justify-content: center;
  }
  img {
    width: 50px;
    height: 50px;
    @include desktop {
      width: 150px;
      height: 150px;
      margin: .5rem;
    }
  }
}

.bx-viewport {
  border: none !important;
  box-shadow: none !important;
  background: $color__background-body !important;
}

.lodge-gallery {
  padding-bottom: 3rem;
}

.lodge-amenities {
  border-top: $border__grey;
  width: 85%;
  h2 {
    text-align: center;
  }
  span {
    font-weight: bold;
    margin-right: 10%;
    display: block;
    @include desktop {
      margin: 0;
    }
  }
  p {
    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }
}

.sustain-hero {
  background: url(../../assets/images/pictures/the-lodge/sustainability.png) center no-repeat;
  @include banner;
}

.enviro-hero {
  background: url(../../assets/images/pictures/the-lodge/sustainability.png) center no-repeat;
  @include banner;
}
