// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin banner {
	background-size: contain;
	background-color: $color__light-grey;
	height: 285px;
	@include desktop {
		background-size: contain;
		height: 850px;
	}
}

@mixin sub-banner {
	background-size: cover;
	height: 285px;
	@include desktop {
		background-size: cover;
		height: 850px;
	}
}

@mixin grey-background {
	background: $color__dark-grey;
	text-align: center;
	padding-top: 4rem;
}


// Breakpoints

/* 480px */

@mixin mobile {
  @media screen and (max-width: $mobile-width) {
    @content;
  }
}

/* 1024px */

@mixin desktop {
  @media screen and (min-width: $mobile-width) {
    @content;
  }
}

@mixin formbox {
	border: 1px solid black;
	border-radius: 0;
	width: 75%;
	&:placeholder-shown {
		text-transform: uppercase;
	}
}
