.winter-packages-hero {
	background: url(../../assets/images/pictures/packages/winter/skiing.jpg) center top no-repeat #ffffff;
	@include banner;
}

.guided-winter-hero {
	background: url(../../assets/images/pictures/packages/winter/guides.jpg) center top no-repeat #ffffff;
	@include banner;
}

.meals-hero {
	background: url(../../assets/images/pictures/packages/winter/meals.jpg) center top no-repeat #ffffff;
	@include banner;
}

.small-groups-hero {
	background: url(../../assets/images/pictures/packages/winter/group.jpg) center top no-repeat #ffffff;
	@include banner;
}

.summer-packages-hero {
	background: url(../../assets/images/pictures/packages/summer/lake.jpg) center top no-repeat #ffffff;
	@include banner;
}

.guided-summer-hero {
	background: url(../../assets/images/pictures/packages/winter/guides.jpg) center top no-repeat #ffffff;
	@include banner;
}
