/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Explore Packages */

.explore-packages {
   @include grey-background;

   .container {
      padding-bottom: 4rem;
      width: 85%;
   }
   h2 {
      color: $color__white;
   }

   .button {
      display: block;
      min-width: 116px;
      width: 100%;
      margin: 2rem 0;
      padding: 1rem;

      @include desktop {
         display: inline-block;
         width: 33%;
         margin: 0 2rem;
      }

   }
}

//angular app
.show-validation {
   input.ng-invalid {
      box-shadow: 0 0 3px 3px rgba(255, 0, 0, .5);
   }
}
//Season page
.season-page {
   display: block;
   margin: 3rem 0;
   @include desktop {
      display: flex;
      justify-content: space-between;
   }
}
.choice-cont {
   display: flex;
   justify-content: center;
   @include desktop {
      display: block;
      text-align: center;
      width: 50%;
   }
}
.summer-app {
   display: none;
   @include desktop {
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient( to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 100%),
      url(../../assets/images/pictures/packages/summer/lake.jpeg) center top no-repeat #ffffff;
      background-size: cover;
      height: 400px;
      margin: 2rem .5rem 2rem 1rem;
   }
}
.winter-app {
   display: none;
   @include desktop {
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient( to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 100%), url(../../assets/images/pictures/packages/winter/skiing.jpg) center top no-repeat #ffffff;
      background-size: cover;
      height: 400px;
      margin: 2rem 1rem 2rem .5rem;
   }
}
.summer-banner {
   display: none;
   @include desktop {
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient( to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 100%),
      url(../../assets/images/pictures/packages/summer/lake.jpeg) center top no-repeat #ffffff;
      background-size: cover;
      height: 800px;
   }
}
.winter-banner {
   display: none;
   @include desktop {
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient( to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 100%), url(../../assets/images/pictures/packages/winter/skiing.jpg) center top no-repeat #ffffff;
      background-size: cover;
      height: 800px;
   }
}
.season-btn {
   width: 80%;
   margin: 1rem;
   padding: 1rem 0;
   @include desktop {
      width: 50%;
   }
}

//Customize
.custom-parent {

   & section {
      margin: 8rem 0;
   }
}
.custom-choice {
   @include desktop {
      text-align: center;
      width:40%;
      margin: 0 auto;
   };
}
.radio-choice {
   display: flex;
   justify-content: space-around;
   @include desktop {
      justify-content: space-between;
   };

   & p {
      text-transform: uppercase;
      margin: 0;
   }
}
.between-radio {
   display: none;
   @include desktop {
      display: block;
      margin-top: 5%;
      margin-left: 14px;
      text-transform: uppercase;
   };
}
input[type=radio] {
   display: none;
}

input[type=radio] + div {
   display: block;
   margin: 0 auto;
   margin-bottom: 2rem;
   height:100px;
   width: 100px;
   background: url(../../assets/images/icons/empty.png) center top no-repeat $color__background-body;
   background-size: contain;
}
input[type=radio]:checked + div {
   display: block;
   margin: 0 auto;
   margin-bottom: 2rem;
   height:100px;
   width: 100px;
   background: url(../../assets/images/icons/filled.png) center top no-repeat $color__background-body;
   background-size: contain;
}
input[type=range] {
   -webkit-appearance: none;
   margin: 10px 0;
   width: 67%;
}
input[type=range]:focus {
   outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
   width: 67%;
   height: 12.8px;
   cursor: pointer;
   background: $color__blue;
   border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
   height: 20px;
   width: 39px;
   border-radius: 7px;
   background: $color__dark-grey;
   cursor: pointer;
   -webkit-appearance: none;
   margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
   background: $color__blue;
}
input[type=range]::-moz-range-track {
   width: 67%;
   height: 12.8px;
   cursor: pointer;
   background: $color__blue;
   border-radius: 25px;
}
input[type=range]::-moz-range-thumb {
   height: 20px;
   width: 39px;
   border-radius: 7px;
   background: $color__dark-grey;
   cursor: pointer;
}
input[type=range]::-ms-track {
   width: 67%;
   height: 12.8px;
   cursor: pointer;
   background: transparent;
   border-color: transparent;
   border-width: 39px 0;
   color: transparent;
}
input[type=range]::-ms-fill-lower {
   background: $color__blue;
   border-radius: 50px;
}
input[type=range]::-ms-fill-upper {
   background: $color__blue;
   border-radius: 50px;
}
input[type=range]::-ms-thumb {
   height: 20px;
   width: 39px;
   border-radius: 7px;
   background: $color__dark-grey;
   cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
   background: $color__blue;
}
input[type=range]:focus::-ms-fill-upper {
   background: $color__blue;
}
.under-range {
   display: flex;
   justify-content: space-between;
   width: 67%;
   margin: 0 auto;
}
.price-estimate {
   background-color: $color__blue;
   padding: 2rem;
   color: white;
}
.price-wrap {
   border: 1px solid white;
   border-radius: 5px;
   width: 150px;
}
.customize-list {
   text-align: left;
   width:400px;
   margin-bottom: 3rem;
   @include desktop {
      width: 33%;
   };
   & h4 {
      text-align: center;
   }
}
.request-book-btn {
   background-color: $color__dark-grey;
   padding: 3rem;
}
.request-btn {
   width: 80%;
   margin-bottom: 4rem;
   @include desktop {
      width: 35%;
   }
}
.home-btn {
   background-color: $color__dark-grey;
   width: 80%;
   @include desktop {
      width: 35%;
   }
}
//contact-info
.contact-form {
   text-align: center;
   & .input {
      margin-bottom: 1rem;
      @include formbox;
   }
}
//Trip-Estimate

.trip-estimate {
   @include grey-background;

   .button {
      display: block;
      width: 100%;
      padding: 1rem;
      @include desktop {
         display: inline-block;
         width: 50%;
      }
   }

   .container {
      padding-bottom: 4rem;
      width: 85%;
   }
}
