// Structure

$base__space-unit: 1.5em;

// Colors

$color__blue: #068fbf;
$color__dark-grey: #303030;
$color__medium-grey: #757575;
$color__light-grey: #f5f5f5;
$color__white: #ffffff;

$color__link: $color__blue;
$color__link-visited: #045775;
$color__link-hover: #1abef8;

$color__white-background: #ffffff;
$color__text-main: #303030;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;
$color__background-body: #ffffff;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

// Typography

$font__main: "Lato", sans-serif;
$font__heading: "Pathway Gothic", sans-serif;

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__code: "Monaco", "Consolas", "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

// Breakpoints

$mobile-width: 480px;
$tablet-width: 600px;
$desktop-width: 1024px;
